@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@theme {
  --color-primary: var(--color-sky-500);
}

html {
  @apply overscroll-none;
}

body {
  font-family: Exo;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}
